body {
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
}

/* Mission */

#mission {
  display: inline-flex;
  height: 700px;
  background-image: url(../images/img-mission-background.jpg);
  padding-top: 69px;
  align-items: center;
}

.copy {
  width: 1200px;
  background-color: black;
}

/* Featured */

#featured {
  width: 1000px;
  padding-top: 69px;
  padding-bottom: 69px;
  margin: auto;
}

.container.tea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container.tea span {
  display: block;
  font-weight: bold;
  padding-top: 10px;
}

.tea-block {
  padding: 15px;
}

.tea-block img {
  height: 200px;
  width: 300px;
  margin-bottom: 0px;
}

/* Locations */

#locations {
  height: 500px;
  background-image: url(../images/img-locations-background.jpg);
  width: 1200px;
  padding-top: 69px;
  margin: auto;
}

.container.location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location-block {
  background-color: black;
  opacity: 1.0;
  flex-basis: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

.location-block p, h3 {
  padding: 10px;
}

#locations h2 {
  margin: 0;
  padding-bottom: 15px;
}

/* Contacts */

.contacts {
  height: 200px;
}

/* Footer */

footer {
  text-align: left;
  margin-left: 20px;
}
